@import 'tailwindcss';
@import './fonts.css';
@import './theme.css';
@import './base.css';

@custom-variant dark (&:where(.dark, .dark *));

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@keyframes twinkles {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.3);
  }
}
