@theme {
  --color-primary: #fbbf24;
  --color-secondary: #06b6d4;
  --color-focus: #78350f;

  --color-base: #0a0a0a;
  --color-content: #1a1a1a;
  --color-panel: #2a2a2a;

  --color-foreground: #f3f4f6;
  --color-table: #2a2318;

  --animate-turbo: spin 0.1s linear infinite;

  @keyframes turbo {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

html {
  color: var(--color-base);
}
html.alice {
  --color-primary: #debe8d;
  --color-secondary: #5fa3a3;
  --color-focus: #9a3412;

  --color-base: #080b0f;
  --color-content: #131820;
  --color-panel: #1e2731;

  --color-foreground: #eef2f7;
  --color-table: #1e2530;
}

html.v2 {
  --color-primary: #fbbf24;

  --color-base: #0b0500;
  --color-content: #e3ac1a;

  --color-foreground: #ffeeda;
}
