@import 'tailwindcss';
@import '../../packages/components/src/index.css';

:root {
  --radius: 0.5rem;
  /* 기본 배경색 (Dark Theme 기준) */
  background-color: var(--charade-950);
  color: var(--charade-100);
}

/* Alice 테마일 때의 배경색 조정 (필요 시) */
html.alice {
  background-color: var(--shark-900);
  color: var(--shark-50);
}

html.v2 {
  background-color: var(--charade-950);
  color: var(--charade-100);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
